<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.startup">
      <startup class="com.seeq.eclipse.ImportProjects"/>
   </extension>
   <extension
       id="headlessimport"
       name="Headless Import"
       point="org.eclipse.core.runtime.applications">
       <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
           <run
               class="com.seeq.eclipse.HeadlessImportApplication">
           </run>
       </application>
   </extension>
</plugin>
